
<div class="center-wrapper">


<div class="bannerbox">
<img src="https://www.saveur.com/resizer/asaf8ciTyhcWxmNBSBTE4r-z6wE=/869x613/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/KUGEATRKRJLEY2BDQDA6DJCD6I.jpg">
<a  href="">

<span class="top-header"><h1>Your Tasks</h1></span>

</a>
</div>





<a class="button-link" href="/tasks/new">Add a new task </a>


<div class="ui celled list">
<% @tasks.each do |task| %>
  
  <div class="item">

  <div class="content">

  <div class="header">
  <%= task.name %>
  </div>

  <% if task.due_in_x_days  %>
  <% if task.due_in_x_days < 0 %>
      <%= -task.due_in_x_days %> days past due 
      <% elsif task.due_in_x_days == 0 %>
      Due today
      <% else %>
      Due in <%= task.due_in_x_days %> more days
    <% end %>
    <% end %>

    <div class="right floated content">


  <a class="button-link" href="/tasks/<%= task.id %>/edit">Edit</a>

  <div style="display: inline-block">
  <form action="/tasks/<%= task.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<span class="button-link">
<span>
<input type="submit" value="Delete Task">
</span>

</form>
  </div>

  </div>  <%# of right floated content div%>
  </div> <%# of content div%>
  </div> <%# of item div%>


<% end %>

</div> <%# of ui celled list div%>
</div> <%# of center wrapper div%>