
<div class="center-wrapper">


<div class="main-content">

<h2><%= @recipe.name %></h2>

<a class="button-link" href="/recipes">Recipes</a> 

<a class="button-link" href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a>
<br>
<form action="/recipes/<%=@recipe.id%>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input class="button-link" type="submit" value="Delete Recipe">
</form>



<div class="celled-list">
<% @recipe.ingredients.each do | ingredient | %>
    <div class="item">

    <div class="content">

    <div class="left-side">

    <div class="header">
    <% rec_ing_instance = RecipeIngredient.find_by(ingredient_id: ingredient.id, recipe_id: @recipe.id) %>
    <% if rec_ing_instance.amount && rec_ing_instance.amount != "" %>
    <%= rec_ing_instance.amount %> of 
    <% end %>
    <a href="/ingredients/<%= ingredient.id %>"><%= ingredient.name %></a>

    </div>
    

    </div> <!-- end of class left-side -->

      

          

      <div class="right-side">


      <div class="dropdown">
        <button class="dropbtn">...</button>
        <div class="dropdown-content">


        <a class="dropdownmenu-link" href="/items/search/<%=  ingredient.name %>" >Search in kitchen</a>

        <div style="display: inline-block">
            <form action="/groceries" method="POST">
            <input type="hidden" name="source" value="recipe-<%= @recipe.id %>">
            <input type="hidden" name="name" value="<%=  ingredient.name %>">
            <input class="dropdownmenu-link" type="submit" value="Add to grocery">
            </form>
        </div>
    
    
    

    </div> <!-- end class dropdown-content -->
    </div> <!-- end class dropdown -->
    
    </div> <!-- end class right side -->
    </div> <!-- end class content -->
 
    </div> <!-- end class item -->
    <% end %>
    </div>  <!-- end class celled-list -->






    <div class="recipe-instructions-section">
<h3>Instructions </h3>
<div class="instructions">
<%= @recipe.content %>
</div>


</div> <!-- end class recipe-instructions -->


<div class="recipe-comments">

<h3>Comments</h3>

<ul>





<% @recipe.comments.each do | comment | %>
    <li> 
    <%= comment.content %> 
    <a href="/comments/<%= comment.id %>/edit">Edit</a>
    <form action="/comments/<%= comment.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
    
    </li>
    
    <% end %>
</ul>
</div> <!-- end class recipe-comments -->


</div> <!-- end class main content -->



</div>  <!-- end class center wrapper -->

