<div class="center-wrapper">

<div class="bannerbox">
<img src="https://www.saveur.com/resizer/asaf8ciTyhcWxmNBSBTE4r-z6wE=/869x613/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/KUGEATRKRJLEY2BDQDA6DJCD6I.jpg">
<a  href="">

<span class="top-header"><h1>Your Groceries</h1></span>

</a>
</div>

<div class="main-content">


<a class="button-link" href="/groceries/new">Add a new grocery item </a>
<a class="button-link" href="/groceries/new/batch">Add multiple grocery items </a> 
<a class="button-link" href="/groceries/edit/batch">Add/Edit/Delete multiple grocery items </a>


<div class="celled-list">

<% @user_groceries.each do | grocery_item | %>
  <div class="item">
  <div class="content">

  <div class="left-side">

  <div class="header">


  <% if grocery_item.amount && grocery_item.amount != "" %>
  <%= grocery_item.amount %> of 
  <% end %>
  <%= grocery_item.name %>

</div> <!-- end of class header -->
</div> <!-- end of class leftside -->




<div class="right-side">


<div class="dropdown">
  <button class="dropbtn">...</button>
  <div class="dropdown-content">

  
      <% current_user.lists.each do | list | %>
        <div style="display: inline-block">
<form action="/items" method="POST">
<input type="hidden" name="moved_from_grocery_id" value="<%= grocery_item.id %>">
<input type="hidden" name="name" value="<%= grocery_item.name %>" >
<input type="hidden" name="list"  value="<%= list.name.downcase %>">
<input type="hidden" name="amount"  value="<%= grocery_item.amount %>">
<input class="dropdownmenu-link" type="submit" value="Move to <%= list.name %>">


</form>
</div>

<% end %>






  <a class="dropdownmenu-link" href="/groceries/<%= grocery_item.id %>/edit">Edit</a>
  <div style="display: inline-block">
  <form action="/groceries/<%= grocery_item.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input class="dropdownmenu-link" type="submit" value="Delete Item">

</form>

  </div>



  </div> <!-- end class dropdown-content -->
  </div> <!-- end class dropdown -->


  </div> <!-- end class right side -->


  </div> <!-- end class content -->

  </div> <!-- end class item -->
<% end %>


</div> <!-- end class celled-list -->

note:
BUTTON to MOVE to Kitchen cabinets
  need to refactor post '/items/' to process a one click form to accept....
  take inpisration from grocery items!!!!!
  plan: do a form, POST="groceries/move/:id/cabinet"
    it will send a form to post '/items/new' to create a new item 
    then it will delete. never mind. that might not be possible
    so maybe we'll just send a form to POST "/items"
    to do that, we first modify the POST '/items' to have the feature to delete the 


</div> <!-- end ò class main content -->


    
      </div>
